@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url("../src/assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold Weight (The "Stronger" version) */
@font-face {
  font-family: 'Inter';
  src: url("../src/assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 700; /* This defines it as "bold" */
  font-style: normal;
}

@theme {
  --font-inter: Inter, "sans-serif"
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@keyframes breathe {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.15); }
}

.animate-breathe {
  animation: breathe 2s ease-in-out infinite;
}

@keyframes zoom-in {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.animate-zoom-in {
  animation: zoom-in 0.5s ease-out forwards;
  animation-delay: 1.8s;
  opacity: 0; /* hidden before animation starts */
}

@layer base {
  html, body {
    @apply m-0 p-0 overflow-hidden
  }
}

@layer components {
  .flex-center {
    @apply w-screen h-screen flex items-center justify-center
  }

  .btn-1 {
    @apply p-3.5 text-xl rounded-2xl text-white bg-stone-600 hover:bg-stone-400 transition-all duration-300
  }
}